In [1]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

true and false

In [3]:
True and False

False

In [4]:
True and True

True

In [5]:
not True

False

In [6]:
not False

True

In [7]:
True and False or True

True

In [8]:
True is True

True

In [9]:
True is False

False

In [10]:
'b' is 'c'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hp\AppData\Local\Temp\ipykernel_6040\3976285562.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'b' is 'c'

False

In [11]:
'b' is 'b'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hp\AppData\Local\Temp\ipykernel_6040\4034184141.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'b' is 'b'

True

In [12]:
10 is 11

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hp\AppData\Local\Temp\ipykernel_6040\100162287.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 11

False

In [13]:
10 is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hp\AppData\Local\Temp\ipykernel_6040\3938569512.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

In [14]:
10-10=0

SyntaxError: cannot assign to operator (128008171.py, line 1)

In [15]:
10-10==0

True

In [16]:
True + True

2

In [17]:
a = 20

In [18]:
print(a)

20

In [19]:
type(a)

int

In [20]:
b=20.0

In [21]:
print(b)

20.0

In [22]:
type(b)

float

In [23]:
#not executable anything we write with this hash(#)

a=10
b=20

In [24]:
c=a+b

In [25]:
print(c)

30

In [26]:
print(c*10)

300

In [27]:
c=6+2i

SyntaxError: invalid syntax (2357657603.py, line 1)

In [28]:
c = 6+2j

In [29]:
print(c)

(6+2j)

In [30]:
type(c)

complex

In [31]:
# string(text) must be written in single , double, triple quotes . mostly in single and double.

print("hello world")

hello world

In [32]:
print('10 20')

10 20

In [33]:
10==20

False

In [34]:
print("10 20")

10 20

In [38]:
a="i"
b=" am"
c=" yashika"

In [39]:
print(a + b + c)

i am yashika

In [40]:
type(a)

str

In [44]:
print('i'+ ' am' + ' yashika')

i am yashika

In [47]:
print(' day'*  5)

 day day day day day

In [48]:
print("- "*200)

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [50]:
print("day "+str(2))

day 2

In [51]:
# we can't covert string into in , but vice versa , as previous 2 in coverted into str(2)

print(int("day")+2)

ValueError: invalid literal for int() with base 10: 'day'

In [55]:
# list - all elements of list are writeen n square brackets.

l= ['a', 'b', 'c']
l

['a', 'b', 'c']

In [57]:
b=list(l)
b

['a', 'b', 'c']

In [59]:
marks= [10,30,56,78,93]
marks

[10, 30, 56, 78, 93]

In [63]:
# if we want to copy any list , then just enter list nam and then use .copy , to copy that list.

marks.copy()

[10, 30, 56, 78, 93]

In [64]:
list('yashika')

['y', 'a', 's', 'h', 'i', 'k', 'a']

In [68]:
employee =[]

In [69]:
# if we want tto add something at the end of the list then we will use append and print that.
employee.append('radha')

In [70]:
print(employee)

['radha']

In [71]:
employee.append('jack')
employee.append('harsh')
print(employee)

['radha', 'jack', 'harsh']

In [74]:
# if we want to add something in b/w the list , then index will start from 0 as address and upto so on , 
#so firstly use insert and then write index and data then print again

employee.insert(1,"d'souza")

In [75]:
print(employee)

['radha', "d'souza", 'jack', 'harsh']

In [76]:
emp_salary = [1000,3000,4000,3800]

In [77]:
emp_salary= emp_salary.insert(0,2000)
emp_salary

In [79]:
print(emp_salary)

None

In [80]:
# to know the length and number of elements in list.

len(employee)

4

In [81]:
# direct use list anywhere just by name and run

employee

['radha', "d'souza", 'jack', 'harsh']

In [82]:
# to find elment of list just by index , use this 

employee[2]

'jack'

In [83]:
employee[3]

'harsh'

In [84]:
# to chnge any element name . the just write file name with index and then that name we wanna change , then print.

employee[1]='rani'

In [85]:
print(employee)

['radha', 'rani', 'jack', 'harsh']

In [88]:
# if we want to know all the elements after an particular index like here after index 1 ,
# so before : it's starting index and after that it is ending

employee[1:]

['rani', 'jack', 'harsh']

In [89]:
# note: if we give both starting and ending index then it will only gives in b/w as open set.

employee[1:3]

['rani', 'jack']

In [90]:
# here ending index is given so we want to know all elements before index 3.

employee[ :3]

['radha', 'rani', 'jack']

In [92]:
marks

[10, 30, 56, 78, 93]

In [93]:
# if we want to add something more in list.

marks = marks+[30]

In [94]:
marks

[10, 30, 56, 78, 93, 30]

In [95]:
# to make the list double or multiple times

marks * 2

[10, 30, 56, 78, 93, 30, 10, 30, 56, 78, 93, 30]

In [96]:
marks *3

[10, 30, 56, 78, 93, 30, 10, 30, 56, 78, 93, 30, 10, 30, 56, 78, 93, 30]

In [97]:
# just to desgin

print('=' * 90)
print('                                                   yashika         ')
print('=' * 90)

==========================================================================================
                                                   yashika
==========================================================================================

In [98]:
# to count repeated element in a list

total = [12,45,12,56,78,12]
total.count(12)

3

In [99]:
# to find index of particle element
total.index(45)

1

In [100]:
# to find index of interated element , we just have to find one by one , by chnging previos iterated by some other value/name.
# by deafault if gives starting index at which iterated value is mentioned.


total.index(12)

0

In [1]:
# to extend list by adding elements to this at the end ,
# diff . b/w append and extend is that we dont write data in  square brackets in append 

employee.extend(['bob','jacf'])
print(employee)

NameError: name 'employee' is not defined

In [104]:
# to delete last element of list by default , we use pop , and it will show the deleted element in output.

pop_last = employee.pop()
pop_last

'bob'

In [105]:
# to delete any element of list , we delete by index .

pop_last= employee.pop(0)
pop_last

'radha'

In [106]:
# to verify either deleted or not

employee

['rani', 'jack', 'harsh', 'bob', 'jacf']

In [107]:
# if we directly want to remove without using index  ,then

marks

[10, 30, 56, 78, 93, 30]

In [108]:
marks.remove(56)

In [109]:
marks

[10, 30, 78, 93, 30]

In [112]:
marks.reverse()
print(marks)

[30, 93, 78, 30, 10]

In [115]:
marks.sort()
print(marks)

[10, 30, 30, 78, 93]