In [8]:
#list

a=[]
a

[]

In [9]:
# we can covert parenthisis into list , also parenthesis is not editable(mutable) as list.

a=list()
a

[]

In [10]:
# list can have any data type i.e int , float , string

a=['a',6,3.6]
a

['a', 6, 3.6]

In [12]:
# we can also re-call any list anytime just by name of list and if in paremthesis then re-cal with list(name)

b= list(a)
b

['a', 6, 3.6]

In [13]:
# also just by name , if it is already a list

b=a
b

['a', 6, 3.6]

In [26]:
A=[]
A

[]

In [27]:
# append : add element/ data to the end

A.append('b')

# here added c to the end
A.append('c')
A

['b', 'c']

In [28]:
# insert : to insert any data/element in between anywhere

# here to insert 'a' at 0 position(index) , also index starts from 0 in python

A.insert(0,'a')
A

['a', 'b', 'c']

In [29]:
# len : used to know the length of list or no. of data/element in a list

len(A)

3

In [30]:
# Index : if want to find data/element using its index then:

A[1]

'b'

In [31]:
# if we want to find all data/elements from  an particular indexx then

# here it gives all elements start from index 0

A[0:]

['a', 'b', 'c']

In [32]:
# if we want to find data in between particular index then;

# it gives data b/w index 0 and 2 , except last index. (last index is always excluded)

A[0:2]

['a', 'b']

In [33]:
# if we want to find all data before any particular indes then:

# last index is also excluded here

A[ :2]

['a', 'b']

In [34]:
# if we want to add some item/data in list using (+) concatenate , just like we did in strings.

A+['d']

['a', 'b', 'c', 'd']

In [35]:
# use of concatenate doesn't chnge our original data , if we recall it will be previos one not concatenated.
# here 'd' is not added.
A

['a', 'b', 'c']

In [36]:
# if we want to add item (concatenate) permanently then 
# name of list = original list+ [new data] , imp: both the data must be stored in same name

A =A+ ['d']
A

['a', 'b', 'c', 'd']

In [37]:
# so here stored permanently as we re-called.

A

['a', 'b', 'c', 'd']

In [38]:
# TO DOUBLE OR MYULTIPLE THE LIST USING (*) and again it's not permanent as concatenate

A *2

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [ ]:
 # have a look at 6_7 august notebook for some  more methods in list i.e name.pop(remove-by default it remove last element
    #but we can define index too which we want to remove) and name.reverse and name.sort (will sort in ascending order) and
    # here name is 'list name'

In [40]:
# NESTED LIST : A LIST INSIDE LIST

list1 =[1,2,3]
list2 =[4,5,6]
list3 =[7,8,9]

# firsty this is list as in square brackets , then it is assigned to matrix , as in output there is extra braccket of matrix.

matrix =[list1 , list2, list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
# if we want to select index then :

matrix[1][2]
# here fisrt bracket indicate the index of matrix and second indicates that index of that list.
# here also index start fron 0 , and index 0 is  [1,2,3] and index 1 is [4,5,6] upto so on , and then in next brackets again its start
# from 0 and so on.

# here index 1 is [4,5,6 ] and in this index 2 is 6. as index 0 and 1 is 4,5.

6

In [42]:
# if we just want to find an list not the element of list then 

matrix[1]
# here we have not asked for element of list , only one bracket.

[4, 5, 6]

In [43]:
x= (25,30)
list(x)

[25, 30]

In [44]:
x= (25,30)
b=list(x)
b

[25, 30]

In [45]:
print([x])

[(25, 30)]

In [2]:
B = [1,2,3,4]
B

[1, 2, 3, 4]

In [3]:
B.pop()

4

In [11]:
## TUPLE: This is same as list except it is un-mutable(not editable) i.e we can't insert or add data like list and also it can have any datatype.
# Represetntation of Tuple : Tuple(data) : as list this is also used to store miltiple data in a single variable.

marks = (23,56,78)
marks

(23, 56, 78)

In [12]:
# to know the type of data 

type(marks)

tuple

In [14]:
# To convert tuple into list , so that we can edit as it is list.

marks_edit = list(marks)
marks_edit

[23, 56, 78]

In [17]:
type(marks_edit)

list

In [15]:
# To convert list into tuple:

markss = tuple(marks_edit)
markss

(23, 56, 78)

In [16]:
# len : to know the length of tuple

len(markss)

3

In [18]:
# Can also mix different datatypes as string , integer & float.

markss = ('one',3,3.3)
markss

('one', 3, 3.3)

In [20]:
# index & find index: find element using index  (must use square brackets )

markss[0]

'one'

In [25]:
# find index using element : name.index(element)

markss.index('one')

0

In [22]:
# slicing : start from  negative , we need this if we have a lot of data and we dont know exactlt how much then we call last
# or nearby last by using slicing. and its index start from -1 not 0.

markss[-2]

3

In [26]:
# Count : To count the duplicate element : name.count(element)

Marks = (1,2,3,2,4,2)
Marks

(1, 2, 3, 2, 4, 2)

In [27]:
Marks.count(2)

3

In [28]:
# Dictionary: {key : values} , it also store data but like mapping , means one key and respective value
# Basic 

My = {'key1' : 'value1' , 'key2': 'value2'}
My

{'key1': 'value1', 'key2': 'value2'}

In [35]:
# e.g:

Flight ={'delhi':123,'mumbai':456}
Flight

{'delhi': 123, 'mumbai': 456}

In [37]:
# Call Value by Key:

Flight['delhi']

123

In [38]:
#Flight['mumbai']

456

In [39]:
# if we have multiple data then we can use liat too as:

Flight1 ={'delhi':[12,34,56],'mumbai':[89,97,67]}
Flight1

{'delhi': [12, 34, 56], 'mumbai': [89, 97, 67]}

In [40]:
# let's call element from dictionary :

# syntax : name['key'][Value/index]

Flight1['mumbai'][2]

67

In [42]:
Flight1['mumbai'][-2]

97

In [44]:
# Upper & lower Case :
# syntax : name['key'][index].upper/lower() ----only works on character or string

My['key1'][1].upper()

# i.e value - index 1 is 'a' .

'A'

In [48]:
# Subtracton : if we want to subtract any value then : operand must be int. 
Flight

{'delhi': 123, 'mumbai': 456}

In [50]:
Flights = Flight['mumbai']-456
Flights

0

In [51]:
Flights = Flight['mumbai']-450
Flights

6

In [52]:
# Addition :
 
Flightss = Flight['mumbai']+10
Flightss

466

In [58]:
# set the object equal to itself 
Flight

{'delhi': 123, 'mumbai': 472}

In [60]:
Flight['delhi']+=2
Flight

{'delhi': 125, 'mumbai': 472}

In [62]:
# crate a new dictionary:

d ={}

In [64]:
# Alternate to value of corresponding key

d['animal']='dog'
d

{'animal': 'dog'}

In [71]:
#NESTING with Dictionaries:

d= {'key1':{'nestkey':{'subnestkey':[10,20,30]}}}
d

{'key1': {'nestkey': {'subnestkey': [10, 20, 30]}}}

In [73]:
# Assignment : must be 30

d['key1']['nestkey']['subnestkey'][2]

30

In [74]:
# Create a new :

dict = {'delhi':878,'mumbai':990,'noida':988}
dict

{'delhi': 878, 'mumbai': 990, 'noida': 988}

In [75]:
# if we want to have only keys:

dict.keys()

dict_keys(['delhi', 'mumbai', 'noida'])

In [77]:
# if we want to have only values:

dict.values()

dict_values([878, 990, 988])

In [80]:
# Dictionary Comprehension:

{x:x**2 for x in range(20)}  # it takes all the values from 0 to 19 , as 20 is excluded.

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361}

In [82]:
dct = {'Salary':[10,20,30], 'emp_num':[1,22,333]}
for i in dct.values():

    if i == 30:

        print (i)